<?xml version="1.0" encoding="utf-8" ?> 

<configuration> 

  <configSections> 

    <section name="croc.application" type="Croc.Core.Configuration.ApplicationConfig, Croc.Core"  /> 

  </configSections> 

 

 

  <system.diagnostics> 

    <trace autoflush="true" indentsize="3"> 

      <listeners> 

        <clear/> 

        <add name="myListener" 

          type="Croc.Core.Diagnostics.Default.FormattedTraceListener, Croc.Core" 

          initializeData="[{Timestamp}][{ThreadId}] {Logger}.{MethodName}:\n{Message}\n" /> 

      </listeners> 

    </trace> 

  </system.diagnostics> 

 

 

  <croc.application name="bpc" logFileFolder="Log" traceLevel="Verbose"> 

    <diagnostics groupBy="Logger"> 

      <eventFilters> 

        <!--фильтр, который добавляет идентификатор бюллетеня: BulletinID--> 

        <filter type="Croc.Bpc.Scanner.BulletinIDLogFilter, Croc.Bpc.Scanner"/> 

      </eventFilters> 

      <writers> 

        <writer type="Croc.Core.Diagnostics.Default.FileWriter"> 

          <!--в Release-конфигурации: 

            1) прописать raw="false" 

            2) в формат-строке заменить {Message} на {MessageId:d}\t{Params} 

          --> 

          <formatter type="Croc.Bpc.Common.Diagnostics.SingleLineFormatter, Croc.Bpc.Common" raw="false"> 

            <props> 

              <add 

                name="format" 

                value="{Logger}\t[{BulletinID}]\t{EventType:d}\t{Timestamp:dd.MM.yyyy HH:mm:ss}\t[{ThreadId}]\t{Message}\t{MethodName}\t{Exception}"/> 

              <add 

                name="arrayDelimiter" 

                value="||"/> 

            </props> 

          </formatter> 

          <filters> 

            <!--фильтр, который проверяет размер свободного места на диске--> 

            <filter type="Croc.Bpc.FileSystem.AvailableSpaceLogFilter, Croc.Bpc.FileSystem"> 

              <props> 

                <add name="*" value="1024"/> 

              </props> 

            </filter> 

          </filters> 

        </writer> 


        <writer type="Croc.Core.Diagnostics.Default.SystemTraceWriter" /> 

      </writers> 

    </diagnostics> 

 

 

    <subsystems> 

      <!--Менеджер печати============================================================================================--> 

      <subsystem type="Croc.Bpc.Printing.PrintingManager, Croc.Bpc.Printing"> 

        <!--признак постраничной печати--> 

        <printByPage value="false"/> 

        <!--настройки формирования отчетов--> 

        <report> 

          <font name="./Data/Fonts/verdana.ttf" size="8"/> 

          <margin left="30" right="30" top="30" bottom="40"/> 

        </report> 

        <!--принтеры, которые ищутся при запросе на печать документа--> 

        <printers> 

          <printer name="HP_LJ_P1102" searchRegExp=".*HP LaserJet Professional P1102.*"/> 

          <printer name="SAMSUNG_ML_1640" searchRegExp=".*Samsung ML-1640.*"/> 

          <printer name="LEXMARKZ600" searchRegExp=".*Lexmark Z600.*"/> 

          <printer name="LEXMARKZ640" searchRegExp=".*Lexmark Z640.*"/> 

          <printer name="LEXMARKZ25" searchRegExp=".*Lexmark Z25.*"/> 

        </printers> 

        <!--<commands> 

          <beforePrinting command="swap.sh" params="on"/> 

          <afterPrinting command="swap.sh" params="off"/> 

        </commands>--> 

      </subsystem> 

 

 

      <!--Менеджер файловой системы==================================================================================--> 

      <subsystem type="Croc.Bpc.FileSystem.FileSystemManager, Croc.Bpc.FileSystem"> 

        <!--Путь к папке с архивами--> 

        <archivesFolderPath value="./Archives"/> 

        <!--Минимальный размер при освобождении Кб--> 

        <minDiskSpaceToFreeMb value="10"/> 

        <!--Порядок в котором удалять файлы при нехватке места--> 

        <cleanOrder value="ScanningImage,Report,Log,State"/> 

        <!--Папки с файлами определенного типа--> 

        <dataDirectories> 

          <dataDirectory fileType="ScanningImage" path="./WorkData/Images" needToArchive="true"/> 

          <dataDirectory fileType="RuntimeData" path="./WorkData/Runtime" needToArchive="false"/> 

          <dataDirectory fileType="VotingResultProtocol" path="./WorkData/Results" needToArchive="true"/> 

          <dataDirectory fileType="State" path="./WorkData/States" needToArchive="true"/> 

          <dataDirectory fileType="Report" path="./WorkData/Reports" needToArchive="true"/> 

        </dataDirectories> 

      </subsystem> 

 

 

      <!--Менеджер воспроизведения звуковых файлов===================================================================--> 


      <subsystem type="Croc.Bpc.Sound.SoundManager, Croc.Bpc.Sound" traceLevel="Error"> 

        <!--настройки плеера: 

              format          Формат плеера (wav/spx/spxcmd) 

              deviceLatency   Размер буфера устройства в микросекундах 

              afterPlayDelay  Задержка после воспроизведения фразы в мсек 

        --> 

        <!--настройки для wav-плеера--> 

        <player 

          format="wav" 

          deviceLatency="300000" 

          afterPlayDelay="300"/> 

        <!--настройки для spx-плеера--> 

        <!--<player 

          format="spx" 

          deviceLatency="100000" 

          afterPlayDelay="50"/>--> 

        <!--команды (нужны для Arm-версии): 

              beforePlaying   перед воспроизведением фразы 

              afterPlaying    после воспроизведения фразы 

        --> 

        <!--<commands> 

          <beforePlaying command="sibled" params="2 1" sleep="1700"/> 

          <afterPlaying command="sibled" params="2 0"/> 

        </commands>--> 

      </subsystem> 

 

 

      <!--Менеджер выборов===========================================================================================--> 

      <subsystem type="Croc.Bpc.Election.ElectionManager, Croc.Bpc.Election"> 

        <!--директории с данными: 

            sourceDataDirName   - имя директории, в которой будет выполняться поиск файла с ИД 

            votingResultDirName - имя директории для сохранения результатов голосования 

        --> 

        <dataDirectories 

          sourceDataDirName="mail.box" 

          votingResultDirName="result"> 

          <!--Путь к корневой директории (точка монтирования), в которой должны находиться директории с данными. 

              Перечисляется список путей, по которым будет выполняться поиск. 

              Поиск выполняется сверху вниз: сначала в папке, указанной вверху, потом в папке ниже и так до тех пор,  

              пока файл с ИД не будет найден--> 

          <root> 

            <!--обратная совместимость с КОИБ-2003--> 

            <path rootPath="/D:"/> 

            <path rootPath="/F:"/> 

            <!--КОИБ-2010: точки автомонтирования--> 

            <path rootPath="/var/autofs/removable" wildcard="*"/> 

            <!--для отладки--> 

            <path rootPath="./Data"/> 

          </root> 

        </dataDirectories> 


        <!--параметры поиска файла с ИД: 

          maxTryCount - максимальное кол-во попыток найти файл 

          delay       - задержка между попытками (формат: Ч:М:С)--> 

        <sourceDataFileSearch 

          maxTryCount="3" 

          delay="0:0:5"/> 

        <!--времена начала режимов голосования по умолчанию (на случай, если они не заданы в ИД)--> 

        <defaultVotingModeTimes> 

          <votingModeTime mode="Main" time="8:0:0"/> 

          <votingModeTime mode="Portable" time="20:0:0"/> 

        </defaultVotingModeTimes> 

        <!--нужно ли проверять контрольные соотношения--> 

        <needExecuteCheckExpressions value="true"/> 

        <!--нужны ли ИД на флешке при сохранении на нее результатов голосования--> 

        <needSourceDataForSaveResults value="true"/> 

      </subsystem> 

 

 

      <!--Менеджер потока работ======================================================================================--> 

      <subsystem type="Croc.Bpc.Workflow.WorkflowManager, Croc.Bpc.Workflow"> 

        <!--схема потока работ--> 

        <!--uri - путь к основному файлу схемы потока работ--> 

        <workflowScheme uri="Activities/Main.wf"> 

          <!--набор дополнительных xml-схем для валидации схемы потока работ--> 

          <xmlSchemaSet> 

            <xmlSchema 

              targetNamespace="http://schemas.croc.ru/Workflow/BpcNextActivityKeys" 

              uri="Activities/BpcNextActivityKeys.xsd" /> 

            <xmlSchema 

              targetNamespace="http://schemas.croc.ru/Workflow/BpcNextActivityKeys/VotingTime" 

              uri="Activities/BpcNextActivityKeys_VotingTime.xsd" /> 

            <xmlSchema 

              targetNamespace="http://schemas.croc.ru/Workflow/BpcNextActivityKeys/RecognitionResult" 

              uri="Activities/BpcNextActivityKeys_RecognitionResult.xsd" /> 

            <xmlSchema 

              targetNamespace="http://schemas.croc.ru/Workflow/BpcNextActivityKeys/DiagError" 

              uri="Activities/Initialization/BpcNextActivityKeys_DiagError.xsd" /> 

            <xmlSchema 

              targetNamespace="http://schemas.croc.ru/Workflow/BpcNextActivityKeys/Cancelation" 

              uri="Activities/Cancelation/BpcNextActivityKeys_Cancelation.xsd" /> 

          </xmlSchemaSet> 

        </workflowScheme> 

      </subsystem> 

 

 

      <!--Менеджеры клавиатуры=======================================================================================--> 

 

 

      <!--Менеджер объединения событий со всех клавиатур--> 

      <subsystem type="Croc.Bpc.Keyboard.UnionKeyboard, Croc.Bpc.Keyboard"/> 


 
 

      <!--менеджер клавиатуры для работы в Windows 

          клавиши обычной клавиатуры: 

            Yes       - 'Y' 

            No        - 'N' 

            Help      - 'H' 

            GoBack    - 'B' 

            Menu      - 'M' 

            0..9      - клавиши цифр (длинный ряд сверху) 

            Delete    - 'Delete' 

            Quit      - 'Q' 

            Drop      - 'D' 

 

 

          PowerOff - не используется 

      --> 

      <subsystem type="Croc.Bpc.Keyboard.WinConsoleKeyboard, Croc.Bpc.Keyboard" traceLevel="Error"> 

        <keyboard type="Default"> 

          <keys> 

            <key code="89" type="Yes"/> 

            <key code="78" type="No"/> 

            <key code="72" type="Help"/> 

            <key code="66" type="GoBack"/> 

            <key code="77" type="Menu"/> 

            <key code="48" type="Digit" value="0"/> 

            <key code="49" type="Digit" value="1"/> 

            <key code="50" type="Digit" value="2"/> 

            <key code="51" type="Digit" value="3"/> 

            <key code="52" type="Digit" value="4"/> 

            <key code="53" type="Digit" value="5"/> 

            <key code="54" type="Digit" value="6"/> 

            <key code="55" type="Digit" value="7"/> 

            <key code="56" type="Digit" value="8"/> 

            <key code="57" type="Digit" value="9"/> 

            <key code="46" type="Delete"/> 

 

 

            <key code="81" type="Quit"/> 

            <key code="68" type="Drop"/> 

          </keys> 

        </keyboard> 

      </subsystem> 

 

 

      <!--менеджер управления мини-клавиатурой в Unix на Intel-е 

          клавиши мини-клавиатуры: 

            Yes       - 'Enter' 

            No        - '+' 

            Help      - '?' 


            GoBack    - '/' 

            Menu      - '*' 

            Delete    - '.' 

            0..9      - соотв. цифр. клавиши 

          клавиши обычной клавиатуры: 

            Quit      - 'Q' 

            Drop      - 'D' 

 

 

          PowerOff - не используется 

      --> 

      <!--<subsystem type="Croc.Bpc.Keyboard.UnixConsoleKeyboard, Croc.Bpc.Keyboard" traceLevel="Error"> 

        <keyboard type="Belkin"> 

          <keys> 

            <key code="96" type="Yes"/> 

            <key code="78" type="No"/> 

            <key code="74" type="Help"/> 

            <key code="98" type="GoBack"/> 

            <key code="55" type="Menu"/> 

            <key code="83" type="Delete"/> 

            <key code="82" type="Digit" value="0"/> 

            <key code="79" type="Digit" value="1"/> 

            <key code="80" type="Digit" value="2"/> 

            <key code="81" type="Digit" value="3"/> 

            <key code="75" type="Digit" value="4"/> 

            <key code="76" type="Digit" value="5"/> 

            <key code="77" type="Digit" value="6"/> 

            <key code="71" type="Digit" value="7"/> 

            <key code="72" type="Digit" value="8"/> 

            <key code="73" type="Digit" value="9"/> 

 

 

            <key code="16" type="Quit"/> 

            <key code="32" type="Drop"/> 

          </keys> 

        </keyboard> 

      </subsystem>--> 

 

 

      <!--менеджер кнопок для работы в Unix на ARM-е 

          кнопки: 

            Yes       - 'Да' 

            No        - 'Нет' 

            Help      - 'Помощь' 

            PowerOff  - 'Выключение' 

      --> 

      <!--<subsystem type="Croc.Bpc.Keyboard.ButtonsDevice, Croc.Bpc.Keyboard" traceLevel="Error"> 

        <keyboard type="Default"> 

          <keys> 

            <key code="4" type="Yes"/> 


            <key code="2" type="No"/> 

            <key code="8" type="Help"/> 

            <key code="1" type="PowerOff"/> 

          </keys> 

        </keyboard> 

      </subsystem>--> 

 

 

      <!--Менеджер сканера===========================================================================================--> 

      <subsystem type="Croc.Bpc.Scanner.ScannerManager, Croc.Bpc.Scanner"> 

 

 

        <!--настройка коннектора сканера 

              type      - полный тип класса с реализацией коннектора 

              broadcast - IP-адрес для широковещательной рассылки уведомлений о присутствие сканера в сети 

        --> 

        <!--<scannerConnector 

          type="Croc.Bpc.GsScannerDriver.ScannerConnector, Croc.Bpc.GsScannerDriver" 

          broadcast="10.255.255.255"/>--> 

 

 

        <!--коннектор для работы в режиме эмулятора сканера--> 

        <scannerConnector 

          type="Croc.Bpc.DummyScannerDriver.ScannerConnector, Croc.Bpc.DummyScannerDriver" 

          broadcast="192.168.91.255"> 

          <settings> 

            <add key="DriverVersion" value="30842" /> 

            <add key="Status" value="0" /> 

            <add key="Version" value="V2005" /> 

            <add key="SaveRequestedSquares" value="false" /> 

          </settings> 

        </scannerConnector> 

 

 

        <!--версия драйвера сканера--> 

        <driverVersion value="30842"/> 

        <!--нужно ли выполнять диагностику оборудования (лампы, индикатор, моторы) при инициализации--> 

        <checkHardware enabled="false"/> 

 

 

        <!--Параметры сканера (для разных версий)--> 

        <scannerParameters> 

          <version name="V2003"> 

            <!--Общие настройки--> 

            <workZone 

              sideTopX="280" sideTopY="0" 

              sideBottomX="0" sideBottomY="0"/> 

            <checkFormat enabled="true"/> 

            <tuning enabled="true"/> 

            <paperDensity 


              thin="620" 

              normal="520" 

              thick="400"/> 

            <blankPaperTypes> 

              <blankPaperType blankMarker="1" paperType="Normal"/> 

              <blankPaperType blankMarker="2" paperType="Normal"/> 

              <blankPaperType blankMarker="3" paperType="Normal"/> 

              <blankPaperType blankMarker="4" paperType="Normal"/> 

              <blankPaperType blankMarker="5" paperType="Normal"/> 

              <blankPaperType blankMarker="6" paperType="Normal"/> 

              <blankPaperType blankMarker="7" paperType="Normal"/> 

            </blankPaperTypes> 

            <!--Настройки для локального сканера--> 

            <doubleSheetSensor 

              enabled="true" 

              levelLeft="0" levelRigth="0" 

              thick="-150" 

              thin="150" /> 

            <dirtDetection enabled="false"/> 

          </version> 

          <version name="V2005"> 

            <!--Общие настройки--> 

            <workZone 

              sideTopX="0" sideTopY="0" 

              sideBottomX="336" sideBottomY="0"/> 

            <checkFormat enabled="false"/> 

            <tuning enabled="true"/> 

            <paperDensity 

              thin="620" 

              normal="520" 

              thick="400"/> 

            <blankPaperTypes> 

              <blankPaperType blankMarker="1" paperType="Normal"/> 

              <blankPaperType blankMarker="2" paperType="Normal"/> 

              <blankPaperType blankMarker="3" paperType="Normal"/> 

              <blankPaperType blankMarker="4" paperType="Normal"/> 

              <blankPaperType blankMarker="5" paperType="Normal"/> 

              <blankPaperType blankMarker="6" paperType="Normal"/> 

              <blankPaperType blankMarker="7" paperType="Normal"/> 

            </blankPaperTypes> 

            <!--Настройки для локального сканера--> 

            <doubleSheetSensor 

              enabled="true" 

              levelLeft="0" levelRigth="0" 

              thick="-150" 

              thin="150" /> 

            <dirtDetection enabled="false"/> 

          </version> 

          <version name="V2010"> 

            <!--Общие настройки--> 


            <workZone 

              sideTopX="0" sideTopY="0" 

              sideBottomX="670" sideBottomY="0"/> 

            <checkFormat enabled="true"/> 

            <tuning enabled="true"/> 

            <paperDensity 

              thin="620" 

              normal="520" 

              thick="400"/> 

            <blankPaperTypes> 

              <blankPaperType blankMarker="1" paperType="Normal"/> 

              <blankPaperType blankMarker="2" paperType="Normal"/> 

              <blankPaperType blankMarker="3" paperType="Normal"/> 

              <blankPaperType blankMarker="4" paperType="Normal"/> 

              <blankPaperType blankMarker="5" paperType="Normal"/> 

              <blankPaperType blankMarker="6" paperType="Normal"/> 

              <blankPaperType blankMarker="7" paperType="Normal"/> 

            </blankPaperTypes> 

            <!--Настройки для локального сканера--> 

            <doubleSheetSensor 

              enabled="true" 

              levelLeft="0" levelRigth="0" 

              thick="-150" 

              thin="150" /> 

            <dirtDetection enabled="false"/> 

          </version> 

        </scannerParameters> 

        <!--Параметры сигнализации об ошибках/реверсах--> 

        <alerts enabled="true" limit="10"> 

          <errors> 

            <!-- 

              error - описание ошибки: 

                code          - код ошибки 

                enabled       - включена ли сигнализация по данной ошибке 

                description   - описание ошибки (необязательный атрибут) 

                isReverse     - приводит ли данная ошибка к реверсу листа (необязательный атрибут, по умолчани = true) 

 

 

              TODO: можно оптимизировать - в атр. code перечислять все коды через ';',  

                    чтобы не писать одно и то же описание для кучи разных кодов 

            --> 

            <error code="-1" enabled="true" description="Опускайте бюллетень изображением вниз"/> 

            <error code="-2" enabled="true" description="Бланк оказался двусторонним (возможно слипание)"/> 

            <error code="-3" enabled="true" description="Нет вертикальных линий"/> 

            <error code="-4" enabled="true" description="Бюллетень имеет слишком большой перекос"/> 

            <error code="-5" enabled="true" description="Загрязнение линейки"/> 

            <error code="-6" enabled="true" description="Загрязнение линейки"/> 

            <error code="-7" enabled="true" description="Опускайте бюллетень изображением вниз"/> 

            <error code="-8" enabled="true" description="Нет изображения с линейки"/> 

            <error code="1" enabled="true" description="Слишком длинный лист"/> 


            <error code="2" enabled="true" description="Не удается подать лист"/> 

            <error code="3" enabled="true" description="Слишком короткий лист"/> 

            <error code="4" enabled="true" description="Неверный формат листа"/> 

            <error code="5" enabled="false" isReverse="false" description="Не удается реверсировать лист" /> 

            <error code="6" enabled="true" description="Неверное смещение листа от края тракта"/> 

            <error code="7" enabled="true" description="Загрязнение линейки"/> 

            <error code="8" enabled="true" description="Загрязнение линейки"/> 

            <error code="9" enabled="true" description="Двойной лист"/> 

            <error code="10" enabled="true" description="Датчик двойного листа не работает"/> 

            <error code="11" enabled="false" isReverse="false" description="Во время сканирования лист был выдернут"/> 

            <error code="12" enabled="false" isReverse="false" description="Системная ошибка драйвера"/> 

            <error code="13" enabled="true" description="Нет изображения с линейки"/> 

            <error code="14" enabled="true" description="Опускайте бюллетень изображением вниз"/> 

          </errors> 

        </alerts> 

      </subsystem> 

 

 

      <!--Менеджер распознавания=====================================================================================--> 

      <subsystem type="Croc.Bpc.Recognizer.RecognitionManager, Croc.Bpc.Recognizer"> 

        <!-- запустить сборку мусора сразу после распознавания бюллетеня --> 

        <GCCollect enabled ="false"/> 

        <!--разрешено ли использовать печати вышестоящих комиссий--> 

        <superiorStamp enabled="true"/> 

        <!--минимальный размер в Кб для сохранения изображения--> 

        <MinFreeSpaceForImageKb value="1024"/> 

        <!--отладочное сохранение изображений--> 

        <debugImageSaving 

          presave="false" 

          reverse="false" 

          nextBuffer="false" 

          driverReverse="false" 

          squares="false"/> 

        <!--параметры обработки бланков в зависимости от типа бланка--> 

        <blankProcessing> 

          <!-- 

              type              - тип бланка, значение из перечисления BlankType 

              marking           - код маркировки (кол-во проколов, которые нужно сделать в бюллетене) 

              imageSavingType   - тип сохранения изображения, значение из перечисления ImageSavingType 

                                    None      - не сохранять 

                                    Binary    - сохранять бинар 

                                    Halftone  - сохранять полутон 

                                    All       - сохранять бинар и полутон 

              imageFilePrefix   - префикс в имени файлов, в которые будет сохраняться изображение 

          --> 

          <blank 

            type="Valid" 

            marking="0" 

            imageSavingType="None" 

            imageFilePrefix="OK"/> 


          <blank 

            type="Bad" 

            marking="3" 

            imageSavingType="None" 

            imageFilePrefix="NUF"/> 

          <blank 

            type="BadStamp" 

            marking="3" 

            imageSavingType="None" 

            imageFilePrefix="NUF"/> 

          <blank 

            type="NoMarks" 

            marking="0" 

            imageSavingType="None" 

            imageFilePrefix="WL"/> 

          <blank 

            type="TooManyMarks" 

            marking="0" 

            imageSavingType="None" 

            imageFilePrefix="EL"/> 

          <blank 

            type="BadMode" 

            marking="3" 

            imageSavingType="None" 

            imageFilePrefix="FALSE-MODE"/> 

          <blank 

            type="Test" 

            marking="0" 

            imageSavingType="None" 

            imageFilePrefix="TEST"/> 

        </blankProcessing> 

        <!--параметры драйвера распознавалки--> 

        <ocr> 

          <nextBufferMaxCalls value="2"/> 

          <marker type="Standard"> 

            <standard> 

              <width min="1860" max="2000"/> 

              <height min="25" max="50"/> 

              <zone value="270"/> 

            </standard> 

            <digital> 

              <width min="15" max="35"/> 

              <height min="30" max="50"/> 

              <rio min="1.5" max="2.5"/> 

            </digital> 

          </marker> 

          <inlineRecognize 

            enabled="true" 

            level="Mark" 

            startAtLine="200" 


            stopAtLine="1100"/> 

          <minCheckArea value="40"/> 

          <maxOnlineSkew value="25"/> 

          <cutWeakCheck enabled="false"/> 

          <lookForLostSquare enabled="true"/> 

          <seekBottomRightLine enabled="false"/> 

          <grayAnalysis enabled="true"/> 

          <stamp 

            testLevel="Halftone" 

            verticalSize="350" 

            frameWidth="210" 

            lowThr="200"> 

            <digital 

              minLineWidth="6" 

              maxLineWidth="12" 

              xSize="28" 

              ySize="64" 

              gap="12" 

              distBottom="52" 

              distLeft="35" 

              distRight="35"/> 

          </stamp> 

          <logging enabled="false"/> 

        </ocr> 

      </subsystem> 

 

 

      <!--Менеджер синхронизации сканеров============================================================================--> 

      <subsystem type="Croc.Bpc.Synchronization.SynchronizationManager, Croc.Bpc.Synchronization"> 

        <!--настройки вызова удаленного сканера. 

              common                  - общие настройки для всех вызовов 

              synchronization         - настройки вызовов для синхронизации 

              printing                - настройки печати на удаленном сканере 

 

 

              timeout                 - таймаут вызова (мсек, бесконечно = -1) 

              maxTryCount             - максимальное кол-во попыток выполнить вызов  

                                        (используется, с первого раза вызов не прошел) 

              retryDelay              - задержка между неудачной попыткой вызова и следующей попыткой (мсек) 

        --> 

        <remoteScannerCallProperties> 

          <common 

            timeout="3000" 

            maxTryCount="3" 

            retryDelay="200"/> 

          <synchronization 

            timeout="15000" 

            maxTryCount="3" 

            retryDelay="200"/> 

          <!--5 минут на печать--> 


          <printing 

            timeout="300000" 

            maxTryCount="0" 

            retryDelay="0"/> 

        </remoteScannerCallProperties> 

      </subsystem> 

 

 

      <!--Менеджер конфигурации======================================================================================--> 

      <subsystem type="Croc.Bpc.Configuration.ConfigurationManager, Croc.Bpc.Configuration"> 

        <!--Путь к рабочему конфиг-файлу--> 

        <workingConfigFile value="./Croc.Bpc.Application.working.config"/> 

        <!--Пути к файлам, которые являются частными конфиг-файлами. 

            Поиск выполняется в порядке перечисления: сначала файл, указанный вверху,  

            потом файл ниже и так до тех пор, пока файл не будет найден--> 

        <partialConfigFile includeSourceDataPaths="true" fileName="Croc.Bpc.Application.partial.config"> 

          <path value="/D:/mail.box/"/> 

        </partialConfigFile> 

        <!--XPath-ы к элементам конфига, которые являются личными настройками данного приложения и 

            могут быть изменены только через системное меню. 

            Если указывается XPath элемента, который сосдержит дочерние элементы, то они также будут  

            считаться личными настройками.  

            XPath должны начинаться с "/croc.application"--> 

        <privateConfigElements> 

          <xpath value="/croc.application/subsystems/subsystem/scannerParameters/version/doubleSheetSensor"/> 

          <xpath value="/croc.application/subsystems/subsystem/scannerParameters/version/dirtDetection"/> 

        </privateConfigElements> 

      </subsystem> 

 

 

    </subsystems> 

  </croc.application> 

</configuration>


